In [1]:
import pandas as pd

col_list = ["EVENT_DATE", "EVENT_TYPE","ADMIN1","ADMIN2","FATALITIES","SUB_EVENT_TYPE","ASSOC_ACTOR_1","ASSOC_ACTOR_2"]
df = pd.read_csv("USA_2020.csv", usecols=col_list)

#print(df)
#codes = pd.read_csv("FIPScodes")
state = df['ADMIN1']
df["ADMIN2"] = df['ADMIN2'].str.replace(" City", "")

event = {'Protests': 1,'Strategic developments': 5,'Violence against civilians': 10, 'Riots': 15, 'Battles': 5 }
df["EVENT_TYPE"] = [event[item] for item in df["EVENT_TYPE"]] 

#df["EVENT_TYPE"][vote2020["EVENT_TYPE"] == 'Protests'] = 1
#df["EVENT_TYPE"][vote2020["EVENT_TYPE"] == 'Strategic development'] = 5
#df["EVENT_TYPE"][vote2020["EVENT_TYPE"] == 'Violence against civilians'] = 10
#df["EVENT_TYPE"][vote2020["EVENT_TYPE"] == 'Riots'] = 15
#df["EVENT_TYPE"][vote2020["EVENT_TYPE"] == 'Battles'] = 5

num_unrest_per_county = df.groupby(['ADMIN1', 'ADMIN2'], as_index=False).agg({'EVENT_TYPE':['sum'],'EVENT_DATE': ['count'], 'FATALITIES':['sum']})
 

print(num_unrest_per_county.shape)

num_unrest_per_county.sample(10)

(1601, 5)

         ADMIN1       ADMIN2 EVENT_TYPE EVENT_DATE FATALITIES
                                    sum      count        sum
548   Louisiana    Avoyelles          1          1          0
432        Iowa   Des Moines          1          1          0
563   Louisiana      Lincoln          1          1          0
946    New York        Yates          1          1          0
445        Iowa     Plymouth          1          1          0
364    Illinois  Saint Clair         19         19          0
366    Illinois   Stephenson          3          3          0
1590    Wyoming       Albany         19         19          0
271     Georgia        Lamar          1          1          0
1589  Wisconsin         Wood          4          4          0

In [2]:
# reading voting data in 2020 per county per DEM and GOP

col_list6 = ["county_fips", "state_name", "county_name", "votes_dem", "votes_gop"]
vote2020 = pd.read_csv("2020.csv", usecols = col_list6)

binary_2020 = vote2020["votes_gop"]/vote2020["votes_dem"]

vote2020.insert(5, "binary_2020", value = binary_2020)

vote2020["binary_2020"][vote2020["binary_2020"] >= 1] = 1
vote2020["binary_2020"][vote2020["binary_2020"] < 1] = 0

#vote2020 = vote2020.dropna()

vote2020["county_name"] = vote2020["county_name"].str.replace(" County", "")

vote2020["county_name"] = vote2020["county_name"].str.replace(" city", "")

print(vote2020.isnull().values.any())

print(vote2020.shape)

vote2020.sample(10)

False
(3112, 6)

/Users/niloofar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/niloofar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,state_name,county_fips,county_name,votes_gop,votes_dem,binary_2020
595,Illinois,17061,Greene,4767,1349,1.0
1566,Missouri,29229,Wright,7452,1167,1.0
1967,North Dakota,38015,Burleigh,34588,14226,1.0
1934,North Carolina,37149,Polk,7643,4485,1.0
821,Iowa,19125,Marion,12657,6170,1.0
2530,Texas,48075,Childress,1928,305,1.0
2445,Tennessee,47095,Lake,1492,526,1.0
1200,Massachusetts,25027,Worcester,167250,241068,0.0
1902,North Carolina,37085,Harnett,34905,21839,1.0
2691,Texas,48397,Rockwall,38842,18149,1.0

In [4]:
# reading voting data in 2016 per county per DEM and GOP
import numpy as np

col_list5 = ["county_fips","county_name", "votes_dem", "votes_gop"]
vote2016 = pd.read_csv("2016.csv", usecols = col_list5)

binary_2016 = vote2016["votes_gop"]/vote2016["votes_dem"]

vote2016.insert(4, "binary_2016", value = binary_2016)

state_fips = vote2016["county_fips"].astype(str).str[:-3].astype(np.int64)

vote2016.insert(1, "state_fips", value = state_fips)

vote2016["binary_2016"][vote2016["binary_2016"] >= 1] = 1
vote2016["binary_2016"][vote2016["binary_2016"] < 1] = 0

vote2016["county_name"] = vote2016["county_name"].str.replace(" County", "")


vote2016 = vote2016.dropna()

print(vote2016.isnull().values.any())
print(vote2016.shape)

vote2016.sample(10)

False
(3112, 6)

/Users/niloofar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/niloofar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

      votes_dem  state_fips  votes_gop  county_name  county_fips  binary_2016
82        10474           5      22798    Craighead         5031          1.0
1587        469          30       1185      Granite        30039          1.0
1477       4367          29      18240        Taney        29213          1.0
2442       3490          47      14760    Jefferson        47089          1.0
1540       2919          28      15530  Pearl River        28109          1.0
2720       1154          48       4737      Trinity        48455          1.0
2178       1781          41       6160        Baker        41001          1.0
402        1836          13       5021        Dodge        13091          1.0
80         3140           5       5456     Columbia         5027          1.0
1226       3794          26       8124      Gladwin        26051          1.0

In [14]:
cols_to_use = vote2016.columns.difference(vote2020.columns)

vote = pd.merge(left = vote2016[cols_to_use], right = vote2020, how='inner', left_on=vote2016['county_fips'], right_on='county_fips')
#vote.query('_merge != "both"')

#print(vote)
vote_unrest = pd.merge(left = vote, right = num_unrest_per_county, how='left', left_on = ['state_name', 'county_name'], right_on = ['ADMIN1','ADMIN2'])

vote_unrest.iloc[:, 10].fillna(0, inplace=True)
vote_unrest.iloc[:, 11].fillna(0, inplace=True)
vote_unrest.iloc[:, 12].fillna(0, inplace=True)


print(vote_unrest.isnull().values.any())
print(vote_unrest.shape)

vote_unrest.sample(20)

True
(3111, 13)

,binary_2016,state_fips,state_name,county_fips,county_name,votes_gop,votes_dem,binary_2020,"(ADMIN1, )","(ADMIN2, )","(EVENT_TYPE, sum)","(EVENT_DATE, count)","(FATALITIES, sum)"
2666,1.0,48,Texas,48349,Navarro,13787,5097,1.0,NaN,NaN,0.0,0.0,0.0
656,1.0,16,Idaho,16073,Owyhee,3819,816,1.0,NaN,NaN,0.0,0.0,0.0
1174,0.0,24,Maryland,24027,Howard,46442,122060,0.0,Maryland,Howard,11.0,11.0,0.0
302,1.0,12,Florida,12023,Columbia,23835,8912,1.0,Florida,Columbia,5.0,5.0,0.0
2803,1.0,51,Virginia,51580,Covington,1580,964,1.0,Virginia,Covington,2.0,2.0,0.0
2129,1.0,40,Oklahoma,40057,Harmon,747,177,1.0,NaN,NaN,0.0,0.0,0.0
1474,1.0,29,Missouri,29207,Stoddard,11460,1814,1.0,NaN,NaN,0.0,0.0,0.0
54,1.0,1,Alabama,1109,Pike,8020,5613,1.0,Alabama,Pike,1.0,1.0,0.0
2047,1.0,39,Ohio,39069,Henry,10273,3995,1.0,NaN,NaN,0.0,0.0,0.0
1604,1.0,30,Montana,30073,Pondera,2030,903,1.0,NaN,NaN,0.0,0.0,0.0
2447,1.0,47,Tennessee,47101,Lewis,4473,1068,1.0,NaN,NaN,0.0,0.0,0.0
1092,1.0,22,Louisiana,22019,Calcasieu Parish,55066,25982,1.0,NaN,NaN,0.0,0.0,0.0
411,1.0,13,Georgia,13109,Evans,2888,1324,1.0,Georgia,Evans,1.0,1.0,0.0
1986,1.0,36,New York,36071,Orange,76218,61868,1.0,New York,Orange,35.0,21.0,0.0
108,1.0,5,Arkansas,5083,Logan,6438,1544,1.0,Arkansas,Logan,1.0,1.0,0.0
126,0.0,5,Arkansas,5119,Pulaski,62389,98855,0.0,Arkansas,Pulaski,124.0,50.0,0.0
2955,0.0,53,Washington,53067,Thurston,58200,89778,0.0,Washington,Thurston,108.0,28.0,1.0
1539,1.0,28,Mississippi,28107,Panola,7976,7276,1.0,NaN,NaN,0.0,0.0,0.0
2209,1.0,41,Oregon,41063,Wallowa,3390,1619,1.0,Oregon,Wallowa,1.0,1.0,0.0
464,0.0,13,Georgia,13217,Newton,23867,29781,0.0,Georgia,Newton,8.0,4.0,0.0

In [17]:
# Training the model on 2016 voting data and test them on 2020 data.

from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error

X = np.array(vote_unrest.iloc[:, [0, 1, 10, 11, 12]])
y = np.array(vote_unrest.iloc[:, 7])

#y2020 =np.array(vote_unrest.iloc[:, 13])

kf = KFold(n_splits=5, shuffle = True)
kf.get_n_splits(X)

score2 = []
for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    classifier = RandomForestClassifier(n_estimators=1000, random_state=0)
    classifier.fit(X_train, y_train) 
    y_pred2 = classifier.predict(X_test)
    score2.append(classifier.score(X_test, y_test))
    print(confusion_matrix(y_test, y_pred2))
    print(classification_report(y_test, y_pred2))
    print(accuracy_score(y_test, y_pred2))
    incorrect = y_test != y_pred2
    index  = np.where(incorrect == True)
    for i in index:
        print(vote_unrest.iloc[i, 2])

    
print("average accuracy: ", sum(score2)/5)

[[102  15]
 [  6 500]]
              precision    recall  f1-score   support

         0.0       0.94      0.87      0.91       117
         1.0       0.97      0.99      0.98       506

    accuracy                           0.97       623
   macro avg       0.96      0.93      0.94       623
weighted avg       0.97      0.97      0.97       623

0.9662921348314607
27        Alabama
47        Alabama
72       Arkansas
145       Arizona
193    California
240      Colorado
254      Colorado
292       Florida
304       Florida
329       Florida
330       Florida
333       Florida
377       Georgia
392       Georgia
439       Georgia
448       Georgia
458       Georgia
532          Iowa
544          Iowa
565          Iowa
607          Iowa
Name: state_name, dtype: object
[[ 89  13]
 [ 12 508]]
              precision    recall  f1-score   support

         0.0       0.88      0.87      0.88       102
         1.0       0.98      0.98      0.98       520

    accuracy                           0.96       622
   macro avg       0.93      0.92      0.93       622
weighted avg       0.96      0.96      0.96       622

0.9598070739549839
141      Arkansas
150       Arizona
155       Arizona
162    California
174    California
188    California
195    California
254      Colorado
276      Colorado
373       Georgia
374       Georgia
392       Georgia
398       Georgia
425       Georgia
442       Georgia
447       Georgia
448       Georgia
461       Georgia
513       Georgia
524          Iowa
544          Iowa
564          Iowa
574          Iowa
586          Iowa
589          Iowa
Name: state_name, dtype: object
[[ 95   7]
 [  5 515]]
              precision    recall  f1-score   support

         0.0       0.95      0.93      0.94       102
         1.0       0.99      0.99      0.99       520

    accuracy                           0.98       622
   macro avg       0.97      0.96      0.96       622
weighted avg       0.98      0.98      0.98       622

0.9807073954983923
52      Alabama
224    Colorado
241    Colorado
265    Colorado
305     Florida
407     Georgia
510     Georgia
516     Georgia
527        Iowa
534        Iowa
541        Iowa
543        Iowa
Name: state_name, dtype: object
[[100  12]
 [  4 506]]
              precision    recall  f1-score   support

         0.0       0.96      0.89      0.93       112
         1.0       0.98      0.99      0.98       510

    accuracy                           0.97       622
   macro avg       0.97      0.94      0.96       622
weighted avg       0.97      0.97      0.97       622

0.9742765273311897
29     Alabama
41     Alabama
53     Alabama
58     Alabama
307    Florida
315    Florida
326    Florida
382    Georgia
384    Georgia
456    Georgia
461    Georgia
557       Iowa
566       Iowa
567       Iowa
583       Iowa
618       Iowa
Name: state_name, dtype: object
[[ 82  11]
 [  7 522]]
              precision    recall  f1-score   support

         0.0       0.92      0.88      0.90        93
         1.0       0.98      0.99      0.98       529

    accuracy                           0.97       622
   macro avg       0.95      0.93      0.94       622
weighted avg       0.97      0.97      0.97       622

0.9710610932475884
30      Alabama
31      Alabama
36      Alabama
56      Alabama
63      Alabama
260    Colorado
264    Colorado
310     Florida
379     Georgia
406     Georgia
420     Georgia
442     Georgia
445     Georgia
483     Georgia
539        Iowa
551        Iowa
573        Iowa
589        Iowa
Name: state_name, dtype: object
average accuracy:  0.970428844972723