In [35]:
import pandas as pd

col_list = ["County Name", "State", "population"]
county_population = pd.read_csv("covid_county_population_usafacts.csv", usecols=col_list)

print(county_population)

                County Name State  population
0     Statewide Unallocated    AL           0
1            Autauga County    AL       55869
2            Baldwin County    AL      223234
3            Barbour County    AL       24686
4               Bibb County    AL       22394
...                     ...   ...         ...
3190      Sweetwater County    WY       42343
3191           Teton County    WY       23464
3192           Uinta County    WY       20226
3193        Washakie County    WY        7805
3194          Weston County    WY        6927

[3195 rows x 3 columns]

In [36]:
col_list2 = ["County Name", "State", "cumul_confirmed"]
county_confirmed_cases = pd.read_csv("covid_confirmed_usafacts.csv", usecols = col_list2)

county_confirmed = county_confirmed_cases["cumul_confirmed"]

print(county_confirmed_cases)

                County Name State  cumul_confirmed
0     Statewide Unallocated    AL                0
1            Autauga County    AL             2230
2            Baldwin County    AL             7097
3            Barbour County    AL             1080
4               Bibb County    AL              907
...                     ...   ...              ...
3190      Sweetwater County    WY              658
3191           Teton County    WY              897
3192           Uinta County    WY              529
3193        Washakie County    WY              179
3194          Weston County    WY              203

[3195 rows x 3 columns]

In [37]:
col_list3 = ["County Name", "State", "cumul_death"]
county_death_cases = pd.read_csv("covid_deaths_usafacts.csv", usecols = col_list3)

county_death = county_death_cases["cumul_death"]
print(county_death_cases)

                County Name State  cumul_death
0     Statewide Unallocated    AL            0
1            Autauga County    AL           30
2            Baldwin County    AL           77
3            Barbour County    AL            9
4               Bibb County    AL           15
...                     ...   ...          ...
3190      Sweetwater County    WY            4
3191           Teton County    WY            2
3192           Uinta County    WY            3
3193        Washakie County    WY            7
3194          Weston County    WY            0

[3195 rows x 3 columns]

In [39]:
result = pd.concat([county_population, county_confirmed, county_death], axis=1)

print(result)

                County Name State  population  cumul_confirmed  cumul_death
0     Statewide Unallocated    AL           0                0            0
1            Autauga County    AL       55869             2230           30
2            Baldwin County    AL      223234             7097           77
3            Barbour County    AL       24686             1080            9
4               Bibb County    AL       22394              907           15
...                     ...   ...         ...              ...          ...
3190      Sweetwater County    WY       42343              658            4
3191           Teton County    WY       23464              897            2
3192           Uinta County    WY       20226              529            3
3193        Washakie County    WY        7805              179            7
3194          Weston County    WY        6927              203            0

[3195 rows x 5 columns]